@import '../../common/style/_general';

.mdl-layout__header-row {
    padding-left: $grid-desktop-gutter;
    min-height: 100px;
}

.mdl-layout-title {
    font-size: 3em;
    line-height: .6;

    a {
        text-decoration: none;
    }

    span {
        font-weight: 500;
    }

    small {
        font-size: .5em;
        font-weight: 300;
    }

    .icon-viveka-swan {
        float: left;
        font-size: 1.4em;
        color: color($color-primary-contrast, .3);
        margin: -.05em $grid-desktop-gutter 0 0;
    }
}

body, .mdl-layout__content {
    background: $layout-drawer-bg-color;
}

.mdl-card {
    width: 100%;
    margin: 0 0 $grid-desktop-gutter*2;
    overflow: visible;
}

.grid {
    width: 100%;
    margin: 0 auto;

    td {
        vertical-align: middle;
        padding: 10px 20px;
    }
}

#test-title {
    padding: 0 $grid-desktop-gutter;
    margin: 1em 0 .5em;
    line-height: inherit;

    .mdl-textfield {
        margin: -$input-text-vertical-spacing 0;
    }

    .mdl-textfield__input {
        @include typo-display-1;
    }

    .mdl-textfield__label {
        @include typo-display-1;
    }

    .mdl-textfield--floating-label.is-focused .mdl-textfield__label ,
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
        @include typo-title;
    }
}

.test-config {
    width: 100%;
    margin-bottom: $button-fab-size;
    padding: $grid-desktop-gutter;

    #url-container {
        position: relative;
        
        &.parametered {
            padding-right: $button-icon-size;
        }
    }

    #query-parameter-switcher {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        top: 18px;
        right: 0;
    }

    #add-test {
        position: absolute;
        right: $grid-desktop-gutter;
        bottom: -$button-fab-size / 2;
    }
}

#fingerprints-list-container {
    position: relative;

    .mdl-button--fab {
        position: absolute;
        right: $grid-desktop-gutter;
        top: -$button-fab-size / 2;
    }

    .fingerprint-list {
        transition: opacity .4s ease-in-out;
        
        &.disabled {
            opacity: 0.3;
        }

        .status {
            font-size: $button-icon-size;
        }

        .baseline td {
            border-bottom: 2px solid color($palette-green-500);
        }
    }
}

#query-parameters-container {
    display: none;

    .query-parameters {
        margin: 0;
        padding: 0 0 $grid-desktop-gutter / 2;
        list-style: none;
        position: relative;

        &.zoomed {
            min-height: 200px;
        }
    }

    .mdlext-label {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            @extend .mdl-shadow--2dp;
        }

        &.zoomed {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: $grid-desktop-gutter / 2;
            max-width: none;
            border-radius: initial;
            overflow-y: auto;

            .key {
                display: block;
            }

            .value {
                display: block;
                margin-left: 0;
                word-wrap: break-word;
            }
        }

        .key {
            font-weight: bold;
        }

        .value {
            margin-left: 4px;
        }
    }

    li:not(:last-child) {
        margin-right: 8px;
    }
}

.cookies-container {
    position: relative;
    
    #new-cookie {
        position: absolute;
        bottom: $input-text-vertical-spacing - 2;
        right: 0;
    }
}

.cookie-inputs-container {
    margin-right: $button-icon-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;

    @media screen and (max-width: $grid-tablet-breakpoint - 1) {
        .cookie-input-name.mdl-textfield {
            flex: 1 1 100%;
            margin-right: $grid-desktop-gutter + $button-icon-size;
        }
    }


    .remove-cookie {
        color: color($palette-red-500);
    }

    .cookie-input-name {
        flex: 2;
        margin-right: $grid-desktop-gutter;
    }

    .cookie-input-value {
        flex: 3;
        margin-right: $grid-desktop-gutter;
    }
}

.suggestions-container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;

    .suggestions {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: $grid-desktop-gutter/2 $grid-desktop-gutter;
            transition: background .3s ease;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                background: color($color-primary, .1);
            }
        }
    }
}
