@import '../../common/style/_general';

.mdl-layout__header-row {
    padding-left: $grid-desktop-gutter;
    min-height: 100px;
}

.mdl-layout-title {
    font-size: 3em;
    line-height: .6;

    a {
        text-decoration: none;
    }

    span {
        font-weight: 500;
    }

    small {
        font-size: .5em;
        font-weight: 300;
    }

    .icon-viveka-swan {
        float: left;
        font-size: 1.4em;
        color: color($color-primary-contrast, .3);
        margin: -.05em $grid-desktop-gutter 0 0;
    }
}

body, .mdl-layout__content {
    background: $layout-drawer-bg-color;
}

.mdl-card {
    width: 100%;
    margin: 0 0 $grid-desktop-gutter*2;
    overflow: visible;
}

.grid {
    width: 100%;
    margin: 0 auto;

    td {
        vertical-align: middle;
        padding: 10px 20px;
    }
}

#test-title {
    padding: 0 $grid-desktop-gutter;
    margin: 1em 0 .5em;
    line-height: inherit;

    .mdl-textfield {
        margin: -$input-text-vertical-spacing 0;
    }

    .mdl-textfield__input {
        @include typo-display-1;
    }

    .mdl-textfield__label {
        @include typo-display-1;
    }

    .mdl-textfield--floating-label.is-focused .mdl-textfield__label ,
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
        @include typo-title;
    }
}

.test-config {
    width: 100%;
    margin-bottom: $button-fab-size;
    padding: $grid-desktop-gutter;

    #url-container {
        position: relative;
        
        &.parametered {
            padding-right: $button-icon-size;
        }
    }

    #query-parameter-switcher {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        top: 18px;
        right: 0;
    }

    #add-test {
        position: absolute;
        right: $grid-desktop-gutter;
        bottom: -$button-fab-size / 2;
    }
}

.hidden {
    display: none;
}

#fingerprints-list-container {
    position: relative;

    .mdl-button--fab {
        position: absolute;
        right: $grid-desktop-gutter;
        top: -$button-fab-size / 2;
    }

    .fingerprint-list {
        transition: opacity .4s ease-in-out;
        
        &.disabled {
            opacity: 0.3;
        }

        .status {
            font-size: $button-icon-size;
        }

        .baseline td {
            border-bottom: 2px solid color($palette-green-500);
        }
    }
}

#query-parameters-container {
    display: none;

    .query-parameters {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;

        &.zoomed {
            min-height: 200px;
        }
    }

    .parameter,
    .cookie {
        display: inline-block;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 4px 16px;
        border-radius: 16px;
        margin-bottom: 8px;
        font-size: 90%;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            @extend .mdl-shadow--2dp;
        }

        &.zoomed {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: none;
            border-radius: initial;
            margin: 0;
            overflow-y: scroll;

            .key {
                display: block;
            }

            .value {
                display: block;
                margin-left: 0;
                word-wrap: break-word;
            }
        }

        .key {
            font-weight: bold;
        }

        .value {
            margin-left: 4px;
        }
    }

    li:not(:last-child) {
        margin-right: 8px;
    }
}

.bootstrap-tagsinput {
    display: flex;
    flex-wrap: wrap;

    span {
        margin-right: 12px;
        padding: 4px 0;
        border-bottom: 1px solid rgba(0,0,0, 0.12);
        line-height: 18px;

        &.tag {
            padding-right: 12px;

            span {
                position: absolute;
            }
        }
    }

    input {
        @extend .mdl-textfield__input;
        width: auto;
        outline: none;
        flex: 1;
        min-width: 200px;
    }
}