<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="container" id="contA">
        <img id="imgA" src="/images/fingerprints/{{baselineId}}.png" class="mdl-shadow--2dp">
        <div class="diffmarker"></div>
    </div>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="container" id="contB">
        <img id="imgB" src="/images/fingerprints/{{targetId}}.png" class="mdl-shadow--2dp">
        <div class="diffmarker"></div>
    </div>
</div>
