$primary: #78909C;

@import '../../bower_components/bootstrap-material-design/sass/roboto.scss';
@import '../../bower_components/bootstrap-material-design/sass/material.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    margin: 0;
}

.navbar-nav>li {
  float: none
}

.navbar-nav {
  float: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 300px;
    margin: 0;
    text-align: center;
    
    .sidebar-nav.navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

#messages {
    margin-left: 302px;
}

pre {
    max-height: 300px;
}

.request .content {
    color: rgba(0,0,0,.84);
    width: 100%;
    clear: both;
    padding: 10px;
    display: none;
    box-sizing: border-box;
}

.request .content input[type="text"] {
    width: 100%;
    border: none;
    padding: 5px 10px;
    display: block;
    border: none;
    margin-bottom: 10px;
}
