<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Tests</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{_id}}</td>
            <td></td>
        </tr>
    {{/each}}
  </tbody>
</table>
