$primary: #78909C;

@import '../../bower_components/bootstrap-material-design/sass/roboto.scss';
@import '../../bower_components/bootstrap-material-design/sass/material.scss';

nav {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.logo {
      height: 60px;
}

.container img {
    width: 100%;
    vertical-align: top;
}


#diff-inspector {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 26%;
    font-size: 13px;
    background: #fff;
    overflow: auto;
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    
    &:hover + #wrapper .diffmarker {
        border-color: red;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0;
            padding: 10px 20px 0;
            border-bottom: 1px solid #ddd;
            overflow: hidden;
            cursor: pointer;
            transition: all .3s ease;
            
            &:nth-child(2n) {
                background: #fafafa;
            }
            
            &:hover {
                background: #ECEFF1;
            }
        }
    }
    
    strong {
        display: block;
        float: left;
        font-size: 2em;
        clear: left;
        color: #999;
        
        &.delete {
            color: red;
        }
    }
    
    dl {
        overflow: hidden;
        margin: 0 0 10px 30px;
        line-height: 1.3;
    }
    
    dt {
        float: left;
        clear: left;
        width: 4em;
        font-weight: bold;
    }
    
    dd {
        overflow: hidden;
    }
}

#wrapper {
    margin: 20px 0.333% 0 26.333%;
    
    .container {
        width:50%;
        position: relative;
        float: left;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

.diffmarker {
    border: 1px solid transparent;
    box-sizing: border-box;
    position: absolute;
    transition: all .2s ease;
}

.diff {
    position: absolute;
    /*outline: 1px dotted #eee;*/
    box-sizing: border-box;
}

.diff * {
    position: absolute;
    left:0; top: 0; right: 0; bottom: 0;
    box-sizing: border-box;
}

.navbar .navbar-nav.diff-switcher {
    &>li>a {
        border: 0;
        border-radius: 3px;
        margin: 9px 5px;
        padding: 5px;
        font-weight: bold;
        font-size: 11px;
        outline: 0;
        text-transform: uppercase;   
    }
    
    &>.active>a {
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        background-color: inherit;
    }
    
    li i {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, .2);
        width: 10px;
        height: 10px;
        margin-right: 5px;
        vertical-align: -1px;
        line-height: 0;
    }
    li[data-diff='node_removed'] i       { background: rgba(244, 67, 54, 1); }
    li[data-diff='node_added'] i         { background: rgba(76, 175, 80, 1); }
    li[data-diff='not_matching_name'] i  { background: rgba(255, 235, 59, 1); }
    li[data-diff='not_matching_hash'] i  { background: rgba(33, 150, 243, 1); }
    li[data-diff='offset_width'] i       { background: rgba(233, 30, 99, 1); }
    li[data-diff='offset_height'] i      { background: rgba(156, 39, 176, 1); }
    li[data-diff='offset_x'] i           {
        vertical-align: -3px;
        width: 0;
        height: 0;
        margin-right: 0;
        border: 7px solid transparent;
        border-left-color: rgba(0, 0, 0, .6);
    }
    li[data-diff='offset_y'] i {
        vertical-align: 8px;
        width: 0;
        height: 0;
        margin: 0 5px -14px 0;
        border: 7px solid transparent;
        border-top-color: rgba(0, 0, 0, .6);
    }
}

.node_removed .node_removed                     { background: rgba(244, 67, 54, .2); }
.node_added .node_added                         { background: rgba(76, 175, 80, .2); }
.not_matching_name .not_matching_name span      { background: rgba(255, 235, 59, .2); }
.not_matching_hash .not_matching_hash b         { background: rgba(33, 150, 243, .2); }
.offset_width .offset_width_lower               { background: rgba(233, 30, 99, .05); }
.offset_width .offset_width_higher              { background: rgba(233, 30, 99, .05); }
.offset_height .offset_height_lower             { background: rgba(156, 39, 176, .05);}
.offset_height .offset_height_higher            { background: rgba(156, 39, 176, .05);}
.offset_x .offset_x_lower:after,
.offset_x .offset_x_higher:after,
.offset_y .offset_y_lower:after,
.offset_y .offset_y_higher:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    transform: translate(-50%, -50%);
}
.offset_x .offset_x_lower:after                 { left: 0; top: 50%; border-right-color: rgba(0, 0, 0, .4); margin-left: -10px;}
.offset_x .offset_x_higher:after                { left: 0; top: 50%; border-left-color: rgba(0, 0, 0, .4); }
.offset_y .offset_y_lower:after                 { left: 50%; top: 0; border-bottom-color: rgba(0, 0, 0, .4); margin-top: -10px; }
.offset_y .offset_y_higher:after                { left: 50%; top: 0; border-top-color: rgba(0, 0, 0, .4); }

#overlay {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, .7);
}

#overlay span {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    font-weight: bold;
    padding: 10px 20px;
    line-height: 2em;
}

#overlay .material-icons {
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 10px;
    animation: 1s rotate infinite linear;
}

@keyframes rotate {
    from {
        transform:rotate(-360deg) translate(-4px) rotate(360deg);
    }
    to {
        transform:rotate(0deg) translate(-4px) rotate(0deg);
    }
}
