@import '../../common/style/_general';

.mdl-layout__header {
    position: relative;

    .mdl-button--fab {
        position: absolute;
        right: $grid-desktop-gutter;
        bottom: -$button-fab-size/2;
    }
}

.mdl-layout__header-row {
    padding-left: $grid-desktop-gutter;
    min-height: 160px;
}

.mdl-layout-title {
    font-size: 3em;
    line-height: .6;

    a {
        text-decoration: none;
    }

    span {
        font-weight: 500;
    }

    small {
        font-size: .5em;
        font-weight: 300;
    }

    .icon-viveka-swan {
        float: left;
        font-size: 1.4em;
        color: color($color-primary-contrast, .3);
        margin: -.05em $grid-desktop-gutter 0 0;
    }
}

.mdl-layout__content {
    background: $layout-drawer-bg-color;
}

.grid {
    width: 100%;
    margin: 0 auto;

    td {
        vertical-align: middle;
        padding: 10px 20px;
    }
}
