<article class="test-content">
    <section>
        <figure>
            <img src="http://lorempixel.com/56/56/nature/4" alt="icon">
        </figure>
        <div class="text">
            <h4>Tile with avatar</h4>
            <p>Donec id elit non mi porta gravida at eget metus</p>
        </div>
    </section>
    <hr>
    <section style="background: url(/images/bg-stripes.png)">
        <figure>
            <img src="http://lorempixel.com/56/56/nature/7" alt="icon">
        </figure>
        <div class="text">
            <h4>Tile with extra avatar</h4>
            <p>Perferendis dolor nec donec, egestas libero aliquet.</p>
        </div>
    </section>
    <hr>
    <section>
        <figure>
            <img class="circle" src="http://lorempixel.com/56/56/nature/2" alt="icon">
        </figure>
        <div class="text">
            <h4>Tile with another avatar</h4>
            <p>Maecenas sed diam eget risus varius blandit.</p>
        </div>
    </section>
</article>
