// Fonts
@import '../public/fonts/iconmoon';
@import 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700';


// Material Design Lite
@import 'bower_components/material-design-lite/src/color-definitions';
$color-primary: $palette-blue-grey-500;
$color-primary-dark: $palette-blue-grey-700;
$color-accent: $palette-red-500;
@import 'bower_components/material-design-lite/src/material-design-lite';


// Helpers
@function color($color, $alpha: null) {
    @if ($alpha) {
        @return unquote("rgba(#{$color}, #{$alpha})");
    } @else {
        @return unquote("rgb(#{$color})");
    }
}


// Override MDL
.mdl-layout__drawer-button .material-icons {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    line-height: 48px;
    text-align: center;

    &:before {
        content: '\e20e';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        font: normal 24px/48px 'icomoon';
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
    }
}
