{{#each this}}
	<div title="{{b.name}}" class="diff {{#each differences}}{{toLowerCase this}}{{#unless @last}} {{/unless}}{{/each}}" data-diff-target="{{@index}}">
		<span><b><i></i></b></span>
	</div>
{{/each}}
