body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    margin: 0;
}

.navbar-nav>li {
  float: none
}

.navbar-nav {
  float: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    margin: 0;
    text-align: center;
}

#messages {
    margin-left: 302px;
}

pre {
    max-height: 300px;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.request:hover {
    cursor: pointer;
}

.request .url {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}

.request.missing .url {
    font-style: italic;
    color: lightgray;
}

.request .url::before {
    color: white;
    width: 60px;
    text-align: center;
    float: left;
    padding: 10px;
    line-height: 20px;
    margin-right: 10px;
}

.request .content {
    color: rgba(0,0,0,.84);
    width: 100%;
    clear: both;
    padding: 10px;
    display: none;
    box-sizing: border-box;
}

.request .content img {
    max-width: 250px;
    margin: 2em 20px;
    float: right;
    max-height: 320px;
    outline: 1px solid #fff;
}

.request .content pre {
    background-color: white;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.request .content input[type="text"] {
    width: 100%;
    border: none;
    padding: 5px 10px;
    display: block;
    border: none;
    margin-bottom: 10px;
}

.missing .submit {
    display: none;
}
