<div class="container mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="contA">
    <img id="imgA" src="/images/fingerprints/{{baselineId}}.png" class="mdl-shadow--2dp">
    <div class="diffmarker"></div>
</div>
<div class="container mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="contB">
    <img id="imgB" src="/images/fingerprints/{{targetId}}.png" class="mdl-shadow--2dp">
    <div class="diffmarker"></div>
</div>
