<div class="row">
    <div class="col-md-6">
        <div class="screenshot panel panel-default" id="contA">
            <img id="imgA" src="/images/fingerprints/{{baselineId}}.png">
            <div class="diffmarker"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="screenshot panel panel-default" id="contB">
            <img id="imgB" src="/images/fingerprints/{{targetId}}.png">
            <div class="diffmarker"></div>
        </div>
    </div>
</div>
