<div class="container" id="contA">
    <img id="imgA" src="/images/fingerprints/{{baselineId}}.png">
    <div class="diffmarker"></div>
</div>
<div class="container" id="contB">
    <img id="imgB" src="/images/fingerprints/{{targetId}}.png">
    <div class="diffmarker"></div>
</div>