<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/images/viveka-swan.svg" class="pull-left logo">
            <a class="navbar-brand" href="#">Diff page</a>
        </div>
        <ul class="nav navbar-nav diff-switcher">
            <li data-diff="node_removed"><a href="#"><i></i>Removed</a></li>
            <li data-diff="node_added"><a href="#" ><i></i>Added</a></li>
            <li data-diff="not_matching_name"><a href="#" ><i></i>Name</a></li>
            <li data-diff="not_matching_hash"><a href="#" ><i></i>Hash</a></li>
            <li class="active" data-diff="offset_width"><a href="#" ><i></i>Width</a></li>
            <li class="active" data-diff="offset_height"><a href="#" ><i></i>Height</a></li>
            <li class="active" data-diff="offset_x"><a href="#" ><i></i>Left</a></li>
            <li class="active" data-diff="offset_y"><a href="#" ><i></i>Top</a></li>            
        </ul>
    </div>
</nav>
