<div class="controls">
    <button id="zoom-out" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-zoom_out"></i></button>
    <span class="slider"><input id="zoom" class="mdl-slider mdl-js-slider" type="range" min="0.2" max="1" value="1" step="0.01" /></span>
    <button id="zoom-in" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-zoom_in"></i></button>
    <button id="zoom-reset" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-youtube_searched_for"></i></button>
</div>

<div class="screenshots mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div id="baseline-container" class="container"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div id="current-container" class="container"></div>
    </div>
    {{#unless result}}
    <div class="no-diff mdl-shadow--4dp mdl-color--green mdl-color-text--white mdl-typography--title">
        There is no difference!
    </div>
    {{/unless}}
</div>

